.container {
    max-width: 680px;
    margin: 0 auto;
}

h1 {
  margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.btns_container {
  display: flex;
  justify-content: left;
  gap: 16px;
}