<div class="container">

    <h1>Books</h1> 
    <hr>
    <button mat-raised-button class="add_btn" color="accent" type="button">
        <a routerLink="/books/add">Add Book</a>  
    </button>
    
    <table *ngIf="books && books.length > 0">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Read?</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.read ? 'Yes' : 'No'}}</td>
            <td>
                <div class="btns_container">
                    <button mat-raised-button color="primary" class="update_btn" type="button">
                        <a [routerLink]="['books', 'update', book.id]">Update</a>
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="deleteBook(book.id)">Delete</button>
                </div>
            </td>
            
        </tr>
    </table>
    <p *ngIf="!books || books.length == 0">No Books Found</p>
    </div>
    