.container {
    max-width: 680px;
    margin: 0 auto;
}

h1 {
  margin-bottom: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
}

table tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgrey;
  color: rgb(255, 255, 255);
}

.btns_container {
  display: flex;
  justify-content: space-evenly;
}

.add_btn {
  margin-bottom: 16px;
}



