.container {
    max-width: 680px;
    margin: 0 auto;
}

h1 {
  margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
    
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.add_btn {
    background-color: rgb(81, 162, 87);
}

.back_btn {
    background-color: rgb(151, 81, 162);
}